* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

body {
    /*background: black;*/
    background-image: url("img/patternbg.png");
<<<<<<< HEAD
    background-repeat: repeat-y;
=======
>>>>>>> 097d00bd7fb3aa129e783954ea21b083314049e3
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding-top: 5px;
}

.headline {
    font-size: 75px;
    text-align: center;
    font-weight: 800;
    padding-bottom: 5px;
}

.storyhead2 {
    font-size: 54px;
    line-height: 50px;
    font-weight: 800;
}
 .redo {
    color: red;
 }

/*NAVBAR*/

.logocropped {
    width: 7%;
    height: 7%;
    margin-right: 10px;
    margin-left: 5px;
    float: left;
}

.navig {
    color: white !important;
    font-size: 17px;
    font-family: 'Bitter', serif;
}

.navbar {
    background-color: black;
    margin-bottom: 2px;
}


/*JUMBOTRON*/

.jumbotron {
    background-image: url("img/red dot/reddot2.jpg");
    background-position: top center;
    background-size: cover;
    height: 100%;
}

.jumbocontainer {
    padding-top: 75px;
}

.logo {
    width: 25%;
    height: 25%;
    display: inline-block;
    text-align: center;
    padding-bottom: 12px;
}

.jumbosub {
    font-family: 'Bitter', serif;
    font-size: 15px;
}

.jumbobody {
    font-family: 'Bitter', serif;
    display: inline-block;
    text-align: center;
    font-size:  18px;
    width: 650px;
}

.caption {
    background-color: transparent;
    text-align: center;
    color: white;
    text-shadow: 1px 2px 10px #000000;
}

.glyphicon-chevron-down {
    margin-top: 150px;
    font-size: 50px;
    color: white;
}


/*OUR STORY*/

#story {
    margin-top: 200px;
}

/*OUR STORY DESCRIPTION*/

.ourstory {
    margin-bottom: 150px;
}

.storycopy {
    font-family: 'Bitter', serif;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

.storyimg {
    width: 75%;
    height: 75%;
}

.storyhero {
    width: 25%;
    height: 25%;
}

/*LEATHER DESCRIPTION*/

.leather {
    margin-bottom: 150px;
}

.leatherlogo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    height: 30%;
    position: relative;
}

.leathercopy {
    font-family: 'Bitter', serif;
    width: 400px;
    font-size: 15px;
}

.leatherhero {
    margin: 0 auto;
}

/*RED DOT*/

.reddotimg {
    width: 100%;

}

.reddotcopy {
    padding-top: 10px;
    font-family: 'Bitter', serif;
    font-size: 15px;
    width: 400px;
}

/*PRODUCTS*/

#products {
    margin-top: 200px;
}

.product {
    margin-bottom: 150px;
}

.producttitle {
    font-weight: 800;
    text-align: center;
}

.productimg {
    width: 100%;
    height: 100%;
}

.productcopy {
    font-family: 'Bitter', serif;
    font-size: 15px;
}

.productcopycam {
    font-family: 'Bitter', serif;
    font-size: 15px;
    letter-spacing: -0.5px;
}

/*PRODUCT TECH*/

.techimg {
    width: 100%;
}

.techcopy {
    padding-top: 10px;
    font-family: 'Bitter', serif;
    width: 400px;
    font-size: 15px;
}


/*ABOUT US*/

#about {
    margin-top: 200px;
}

.abouthero {
    width: 75%;
    height: 75%;
<<<<<<< HEAD

=======
>>>>>>> 097d00bd7fb3aa129e783954ea21b083314049e3
}

.aboutcopy {
    font-family: 'Bitter', serif;
    font-size: 15px;
}

/*CONTACT*/

#contact {
    font-family: 'Bitter', serif;
    margin-top: 100px;
}

form {
    font-family: 'Bitter', serif;
}

/*FOOTER*/

.footer {
    margin-top: 100px;
    padding: 10px;
    border-top: 1px solid white;
}

.copyright {
    font-family: 'Bitter', serif;
    font-size: 14px;
}

.kickstarter {
    text-align: center;
}

.kickimg {
    width: 250px;
}

.icons {
    text-align: right;
}

i {
    color: white !important;
    font-size: 35px;
    margin: 0px 5px;
}



@media screen and (min-width: 800px) {
    body {

    }
}
